body {
    background-color: #F8F3E9;
}

.ficha {
    display: flex;
    justify-content: center;
    width: 340px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    height: 50px;
    text-align: centers;

}

.prox {
    width: 150px;
    background-color: #8D191C;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;

}

.caixa {
    border-radius: 30px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-top: 5px;
    width: 180px;
}